<html lang="en">

<head>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/index.css">


    <script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="application/javascript" src="./js/index.js"></script>


    <meta charset="UTF-8">
    <title>Home Assignment</title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">AWS - Home Assignment</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="page-header">
        <h1>Photo App</h1>
    </div>

    <div class="uploadPhotoSection">
        <h3>Upload a Photo</h3>
        <div class="uploadPhotoDiv">
            <input type="file" id="inputFile">
            <button onclick="handleUploadPhoto()">Upload</button>
        </div>

        <div id="uploadLoader" class="loader"></div>
        <div class="uploadNotificationDiv"></div>
    </div>

    <div class="searchPhotoSection">
        <h3>Search a Photo</h3>
        <div class="searchPhotoDiv">
            <input type="text" id="searchKey">
            <button onclick="handleSearchPhotos()">click</button>
        </div>

        <div id="searchLoader" class="loader"></div>
        <div class="searchNotificationDiv"></div>
        <div id="photos" class="photos"></div>
    </div>
</div>

</body>

</html>